[Unit]
Description=Daily check of Mjolnir named-host certificates

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=30min
AccuracySec=1h

[Install]
WantedBy=timers.target
